<%= form_for [@topic, @post, @post.comments.new] do |f| %>
<div class="row">
  <div class="col-md-8">
      <div class="media">
        <div class="media-body">
 <div class="form-group">
    <h4>Add a comment:</h4>
    
    <%= f.text_area :body, rows: 2, class: 'form-control', placeholder: "Enter comment" %>
    <%= f.submit "Save", class: 'btn btn-success margin-top-ten' %>
</div>
        </div>
    </div>
  </div>
</div>

<% end %>